/* Deafult css */
*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.container{
    max-width: 1140px;
    margin: auto;
}

body{
    font-family: 'Lato';
}

.deafult-p{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;

}

/* Main css start */

/* header section */

.header-section{
    background: #e55473d4;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu{
    display: flex;
}

.header-menu li{

}

.header-menu li a {
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.header-logo {
    color: black;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}

/* Banner-section */

.banner{
    height: 648px;
    background:rgba(229, 84, 115, 0.10);
    padding: 100px 0px;
    

}

.banner-content{
    display: flex;
}


.banner-text-side {
    width: 55%;
    margin-top: 76px;
}

.banner-btn{
    margin-top: 25px;
}

.banner-text{
    color: #272727;
    font-size: 71px;
    font-weight: 600;
    margin-top: 24px;
}

.banner-description{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 25px;
}

.banner-img-side{
    width: 40%;
}

.banner-img-side img {
    height: 73%;
    margin-top: 35px;
    margin-left: 60px;
}

/* features flowers area */

.feature-flowsers{
    margin-top: 50px;
}
.feature-flowers-heading{
    text-align: center;
    width: 500px;
    margin: auto;
    
}
.section-heading{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;


}

.section-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 15px;

}

.feautre-flowers-box{
    display: flex;
    margin-top: 35px;
}

.flowers-box-1 {
    width: 380px;
    height: 350px;
    background:#f2dee7;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    
}

.flowers-box-2{
    width: 380px;
    height: 350px;
    background:#d9eff0;
    margin-left: 20px;
    border-radius: 300px 300px 0px 0px;
    text-align: center;

}

.flowers-box-3{
    width: 380px;
    height: 350px;
    background:#e3ebdb;
    margin-left: 20px;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
}

.feature-img {
    height: 85%;
    margin-top: 51px;
}

.caption-img {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 15px;
}

/* Hot deal section */

.hot-deal{
    margin-top:100px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-content{
    display: flex;
    padding: 50px;
    margin-left: 27px;
}

.hot-deal-left-side{
    width: 55%;
    margin-top: 100px;
}

.hot-deal-left-side h3{
color: #272727;
font-size: 40px;
font-style: normal;
font-weight: 800;
}

.hot-deal-left-side p{
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 15px;
}

.hot-deal-btn{
    text-align: center;
    margin-top: 20px;
}



.hot-deal-right-side{
    width: 40%;
    margin-left: 80px;
}

/* instragram img section */

.instragram{
    margin-top: 80px;
}

.instragram-heading {
    width: 500px;
    margin: auto;
}

.instragram-img-box{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.instragram-img{
    height: 100%;
    width: auto;
}

.img-box-1{
   
    
}

.img-box-2{
  
    
    margin-left: 1%;
}

.img-box-3{
    
    margin-left: 1%;
}

.img-box-4{
    
    margin-left: 1%;
}

.instragram-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* subscribe form area */

.subscribe-container{
    height: 300px;
    width: 100%;
    background: url(https://raw.githubusercontent.com/sabbir6083/assignment-1/main/images/Rectangle%209.png)no-repeat center center;
    background-size: cover;
    margin-top: 100px;
    padding: 50px;
}

.mid-content {
    margin-top: 60px;
}

.sub-form{
    width: 862px;
    margin: auto;
    text-align: end;
    margin-top: 20px;
}

input#e-mail {
    padding: 10px;
    padding: 10px;
    font-size: 20px;
    width: 670px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 6px 21px;
}


input[type="submit"] {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 25px 20px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-left: 5px;
}

/* footer section */

.footer-section{
    margin-top: 100px;
    background: #111010;
}

.footer-content{
    width: 500px;
    margin: auto;
    padding: 80px;

}

.logo-heading{
    text-align: center;
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.logo-span{
    color: #FFF;
}

.footer-description{
    color:#fff;
    
}

.copyright-text{
    margin-top: 20px;
    color: #676965;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}