/* Deafult css */
*{
    margin: 0;
    padding: 0;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.container{
    max-width: 1140px;
    margin: auto;
}

body{
    font-family: 'Lato';
}

.deafult-p{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;

}

/* Main css start */

.banner{
    height: 648px;
    background:rgba(229, 84, 115, 0.10);

}

.banner-content{
    display: flex;
}


.banner-text-side {
    width: 55%;
    margin-top: 76px;
}

.banner-btn{
    margin-top: 25px;
}

.banner-text{
    color: #272727;
    font-size: 71px;
    font-weight: 600;
    margin-top: 24px;
}

.banner-description{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 25px;
}

.banner-img-side{
    width: 40%;
}

.banner-img-side img {
    height: 73%;
    margin-top: 35px;
    margin-left: 60px;
}

/* features flowers area */

.feature-flowsers{
    margin-top: 50px;
}
.feature-flowers-heading{
    text-align: center;
    
}
.section-heading{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;


}

.section-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 15px;
}

.feautre-flowers-box{
    display: flex;
    margin-top: 35px;
}

.flowers-box-1 {
    width: 380px;
    height: 350px;
    background:#f2dee7;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    
}

.flowers-box-2{
    width: 380px;
    height: 350px;
    background:#d9eff0;
    margin-left: 20px;
    border-radius: 300px 300px 0px 0px;
    text-align: center;

}

.flowers-box-3{
    width: 380px;
    height: 350px;
    background:#e3ebdb;
    margin-left: 20px;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
}

.feature-img {
    height: 85%;
    margin-top: 51px;
}

.caption-img {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 15px;
}

/* Hot deal section */

.hot-deal{
    margin-top:100px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-content{
    display: flex;
    padding: 50px;
}

.hot-deal-left-side{
    width: 55%;
    margin-top: 100px;
}

.hot-deal-left-side h3{
color: #272727;
font-size: 40px;
font-style: normal;
font-weight: 800;
}

.hot-deal-left-side p{
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 15px;
}

.hot-deal-btn{
    text-align: center;
    margin-top: 20px;
}



.hot-deal-right-side{
    width: 40%;
    margin-left: 50px;
}